h1{
    color:blueviolet
}
@media screen and (max-width: 500px){
    h1{
        color: blue;
    }
}
p{
    background-color: aqua;
    color: black;
}
@media screen and (min-width: 800px){
    p{
        background-color: red;
        color: chartreuse;
    }
}